@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .grid-categories {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2rem;
  }
}

/* BELOW 992 PX */

@media (max-width: 62em) {
  html {
    font-size: 50%;
  }

  .container-game {
    grid-template-columns: 4fr 1fr;
  }
}

/* BELOW 832 PX */
@media (max-width: 52em) {
  html {
    font-size: 50%;
  }

  .container-game {
    grid-template-columns: 3fr 1fr;
  }
}

/* BELOW 592 PX */
@media (max-width: 37em) {
  body {
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    width: 80vw;
    height: fit-content;
    min-height: fit-content;
    /* border-radius: 0 0 1.8rem 1.8rem; */
  }

  .container-main {
    margin-top: 12rem;
  }

  .start-over:hover::before,
  .btn-answer-choice:hover::before {
    opacity: 0;
  }

  .btn-category {
    padding: 0 1rem;
  }

  .container {
    padding: 3.6rem;
  }

  .container-intro {
    text-align: center;
    gap: 6.4rem;
  }

  .title {
    font-size: 6rem;
    padding: 8rem;
  }

  .btn-new-game {
    margin-bottom: 8rem;
  }

  .label-category {
    font-size: 1.2rem;
  }

  .wrapper-categories-heading {
    height: auto;
  }

  .label-question-number {
    font-size: 3.2rem;
  }

  .label-current-question {
    font-size: 2rem;
  }

  .wrapper-categories-heading {
    text-align: center;
  }

  .heading-categories {
    font-size: 3.6rem;
  }

  .container-question {
    text-align: center;
    gap: 2.4rem;
    justify-content: center;
    grid-row: 2 / 3;
  }

  .btn-answer-choice {
    text-align: center;
    font-size: 1.4rem;
  }

  .container-game {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content auto;
  }

  .label-question-timer {
    font-size: 2.4rem;
    padding: 1.4rem 0;
  }

  .question-timer {
    height: min-content;
  }

  .btn-next,
  .btn-answer-choice {
    font-size: 1.8rem;
  }

  .wrapper-start-over {
    position: static;
    justify-content: center;
    gap: 4rem;
  }

  .start-over {
    position: static;
  }

  .wrapper-timer {
    grid-row: 1;
  }
  .wrapper-question {
    text-align: center;
  }

  .btn-next {
    grid-column: 1/-1;
  }

  .tab {
    text-align: center;
    font-size: 1.8rem;
    flex: 1;
    min-height: 7.2rem;
  }

  .answer-choice-grid {
    grid-column: span 1;
    flex: 1;
  }

  .tab-break {
    display: block;
  }

  .container-main {
    border-radius: 0 0 1.8rem 1.8rem;
  }

  .wrapper-tabs {
    width: 100%;
    justify-content: space-between;
    transform: translate(0, -98%);
  }
}
