/*///////////////////////////////////////////////////
/// COLOR VARIABLES /////////////////////////////////
///////////////////////////////////////////////////*/

:root {
  --grey-button-background: #ddd;
  --button-hover: #b6ff76;
  --text-primary: #444;
  --color-primary: #5ec576;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-tertiary-opacity: #ff58602d;
  --gradient-red: linear-gradient(to bottom right, #f07171, #e65858);
  --gradient-red2: linear-gradient(to top left, #ff8c8c, #ff4646);

  --gradient-button: linear-gradient(to bottom right, #62e2b1, #bdff84);
  --gradient-primary: linear-gradient(to bottom right, #27ad7a, #b6ff76);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

/*///////////////////////////////////////////////////
/// GENERAL COMPONENTS //////////////////////////////
///////////////////////////////////////////////////*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-image: var(--gradient-primary);
  background-size: cover;
  height: 100vh;

  font-family: "Roboto", sans-serif;
  color: var(--text-primary);
  padding: 3.6rem 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 75vw;
  height: 75vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none !important;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.container {
  height: 100%;
  width: 100%;
  padding: 3.6rem 6rem;
}

.container-main {
  background-color: #f7f7f7;
  height: 100%;
  width: 100%;
  border-radius: 1.8rem;
  box-shadow: 0rem 2rem 3.2rem rgba(0, 0, 0, 0.25);
}

/*///////////////////////////////////////////////////
/// BUTTONS /////////////////////////////////////////
///////////////////////////////////////////////////*/

.btn {
  font-family: "Roboto";
  font-weight: 400;

  border-radius: 1.8rem;
  border: none;

  box-shadow: 0rem 0.5rem 1.2rem rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0rem 1rem 2.4rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  box-shadow: 0rem 0.5rem 1.2rem rgba(0, 0, 0, 0.1);
}

.btn--large {
  font-size: 2.4rem;
  padding: 4.4rem 6.4rem;
}

.btn--gradient {
  background-image: var(--gradient-button);
  color: #444;
  position: relative;
  overflow: hidden;
}

.btn--gradient span,
.btn--grey span {
  z-index: 3;
  position: relative;
}

.btn--gradient:before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.2);
  transition: opacity 0.3s;
}

.btn--gradient:hover::before {
  opacity: 1;
}

.btn--grey {
  background-color: var(--grey-button-background);
  overflow: hidden;
  position: relative;
}

.btn--grey:before {
  content: "";
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  position: absolute;
  /* width: 100%; */
  transition: opacity 0.3s;
  /* z-index: 2; */
  background-image: var(--gradient-button);
}

.btn--grey:hover::before {
  opacity: 1;
}

.start-over {
  position: absolute;
  font-size: 1.8rem;
  padding: 1.2rem 3rem;
  top: 1.8rem;
  left: 1.8rem;
}

.material-icons {
  font-size: 3rem;
}

/*///////////////////////////////////////////////////
/// INTRO CONTAINER /////////////////////////////////
///////////////////////////////////////////////////*/

.container-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12rem;
}

.title {
  font-size: 6rem;
  font-weight: bold;
}

/*///////////////////////////////////////////////////
/// CATEGORY CONTAINER //////////////////////////////
///////////////////////////////////////////////////*/

.container-categories {
  justify-content: space-between;
  gap: 3.6rem;
  padding-bottom: 6rem;
}

.wrapper-categories-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
}

.heading-categories {
  font-size: 4.8rem;
}

.grid-categories {
  gap: 2.4rem;
  height: 100%;
}

.btn-category {
  padding: 1.8rem 3.6rem;
  position: relative;
  /* height: 100%; */
  /* width: 100%; */
}

.label-category {
  font-size: 1.8rem;
  /* z-index: 3; */
}

.btn-category > span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
}

/*///////////////////////////////////////////////////
/// COUNTDOWN TIMER CONTAINER ///////////////////////
///////////////////////////////////////////////////*/

.countdown-timer {
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  background-image: var(--gradient-button);
  font-size: 6.4rem;
  padding: 6.4rem;
  border-radius: 1.8rem;
  box-shadow: 0rem 2rem 3.2rem rgba(0, 0, 0, 0.25);
}

/*///////////////////////////////////////////////////
/// GAME CONTAINER //////////////////////////////////
///////////////////////////////////////////////////*/

.container-game {
  grid-template-columns: 6fr 1fr;
  grid-template-rows: 2fr 6fr;
  border-radius: 1.8rem 0 1.8rem 1.8rem;
  background-color: #f7f7f7;

  gap: 3.6rem;
  z-index: 1;
}

.wrapper-tabs {
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  gap: 1.2rem;
  right: 0;
}

.tab {
  background-color: #c3fae8;
  background-color: #f7f7f7;

  padding: 1.4rem 3.6rem;
  font-size: 2rem;
  border-radius: 1.8rem 1.8rem 0 0;
}

.tab-break {
  display: none;
}

.wrapper-timer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-timer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: var(--gradient-button);
  border-radius: 1.8rem;
  font-size: 3.6rem;
  text-align: center;
  height: 100%;
  width: 100%;
  box-shadow: 0rem 0.5rem 1.2rem rgba(0, 0, 0, 0.2);
}

.low-time {
  background-image: linear-gradient(to bottom right, #ffa8a8, #fa5252);
}

.btn-next,
.btn-play-again {
  background-image: var(--gradient-button);
  text-align: center;
  font-size: 2.4rem;
  height: 100%;
  width: 100%;
}

/* .btn-next:hover,
.btn-play-again:hover {
  background-image: none;
  background-color: #c3fae8;
} */

.wrapper-question {
  gap: 2.4rem;
  border-radius: 1.8rem;
  justify-content: space-around;
}

.label-question-number {
  font-size: 4rem;
}

.label-current-question {
  font-size: 2.4rem;
}

.answer-choice-grid {
  list-style: none;
  justify-content: space-between;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 3.6rem;
  height: 100%;
  grid-column: span 2;
}

.btn-answer-choice {
  font-family: "Roboto";
  width: 100%;
  text-align: left;
  padding: 1.2rem 2.4rem;
  height: 100%;
  font-size: 2rem;
  transition: box-shadow 0.3s;
}

/* .btn-answer-choice:hover {
  background-image: linear-gradient(to bottom right, #96f2d7, #38d9a9);
} */

.correct-answer {
  background-image: var(--gradient-button);
}

.incorrect-answer {
  background-image: var(--gradient-red2);
}

.selected-answer {
  font-weight: 700;
}

.no-hover {
  pointer-events: none;
}
