:root {
  --color-grey-light: #dddddd;
  --color-text-primary: #333;
  --gradient-red: linear-gradient(to top left, #ff8c8c, #ff4646);
  --gradient-button: linear-gradient(to bottom right, #62e2b1, #bdff84);
  --gradient-background: linear-gradient(to bottom right, #27ad7a, #b6ff76);
}
